<!-- <div class="resource">
  <h4 class="title">
    <span>{{resource.id}}</span>
   <a href="{{ resource.url }}"> <ins>{{ resource.name }}</ins></a>
  </h4>
  <div class="lead">
    {{ resource.description }} <br />
    <span class="badge badge-dark">{{ resource.category }}</span>
    <span class="badge badge-dark">{{ resource.language }}</span>
    <span class="badge badge-dark">{{ resource.country }}</span>
  </div>
</div> -->

<!-- <div class="resources"> -->
  <!-- <span>{{resource.name}}</span> -->
<!-- </div> -->
